@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Lato');

body {
  background-color: #C9D5E2;
  height: 100%;
}

.jumbotron {
  /*cody-black-52701.jpg*/
  /*jake-ingle-140416.jpg*/
  background: url('ales-krivec-2.jpg') no-repeat center;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  position: relative;
  padding: 5%;
}

.jumbotron h1 {
  font-family: 'Averia Libre', cursive;
}

.jumbotron h2 {
  font-family: 'Lato', sans-serif;
}

.input-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  display: -ms-flex;
	display: -webkit-flex;
  align-items: stretch;
}

.stop-tile {
  margin-bottom: 5px;
}

.column-label p {
  margin-bottom: 0px;
  color: gray;
}

.column-label-right {
  text-align: right;
}

.align-items-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.align-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.mile-marker {
  text-align: right;
  background-color: #CCDBDC;
  align-self: stretch;
}

.stop-name {
  background-color: #93B7BE;
}

ul li {
  list-style: none;
  padding-right: 10px;
}

.icon-hostel {
  background: url('hostel-icon.png');
  height: 16px;
  width: 16px;
  display: inline-block;
  background-size: 100%;
  position: relative;
  bottom: -3px;
}

.icon-coin-laundry {
  background: url('laundry-icon.png');
  height: 16px;
  width: 16px;
  display: inline-block;
  background-size: 100%;
  position: relative;
  bottom: -3px;
}

i:hover {
  position: relative;
}

i[title]:hover:after {
  content: attr(title);
  font-family: sans-serif;
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

.switch.large .switch-paddle {
  width: 10rem;
}

.switch.large input:checked ~ .switch-paddle::after {
  left: 7.9rem;
}

#mile-field {
  width: 5rem;
  margin-bottom: 0;
  height: 43px;
}

.prev-stop-mile {
  background-color: #d7d7d7;
}

.prev-stop-name {
  background-color: #bdbdbd;
}

.this-stop-name {
  background-color: #43B270;
}

.this-stop-name a, .this-stop-name i, .this-stop-name li {
  color: white;
}

.this-stop-mile {
  background-color: #86BAA1;
}

.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.plus-minus-input .input-group-button .circle {
  padding: 0.25em 0.8em;
  margin-bottom: -20px;
}

button:focus {
  outline:0;
}
