ul li {
  list-style: none;
  padding-right: 10px;
}

.show-div {
  background-color: #7CC599;
  padding: 30px 20px;
}

.show-photo {
  max-width:100%;
  max-height:100%;
}

.mile-label {
  border-bottom: 1px solid black;
  display: inline-block;
}

.resources-div {
  background-color: #207AB7;
  color: white;
  padding-top: 20px;
}

.resources-div .icon-hostel {
  -webkit-filter: invert(100%);
}
.resources-div .icon-coin-laundry {
  -webkit-filter: invert(100%);
}

.small-tiles {
  padding-left: 10px;
  padding-top: 20px;
}

.reverse-bar {
  text-align: center;
  background-color: #48B;
  color: white;
  margin-left: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.small-tiles h2 {
  padding-left: 10px;
}

.mile-top {
  margin-bottom: 0rem;
  font-size: 22px;
}

.mile-bottom {
  color: gray;
  margin-bottom: 0rem;
  margin-top: -0.6rem;
  font-size: 16px;
  line-height: 1;
}

.right-padding {
  padding-right: 25px;
  padding-left: 10px;
}

.show-functions-div {
  padding: 10px 20px;
}

ul {
  margin-left: 0.9rem;
}

li {
  list-style: none;
}

.show-info-hed {
  padding-left: 0px;
  font-size: 2rem;
}

.comment-form:after {
  content: '';
  display: block;
  position: absolute;
  height: 90%;
  top: 5%;
}

.comment-user {
  padding: 10px 0px 20px 0px;
}

.comment-body {
  padding: 10px 0px 0px 10px;
}

.comment-tile {
  margin-bottom: 5px;
  padding-left: 0px;
}

.sobo-mile {
  color: #3d3d3d;
}
