body {
  background-color: #fdfdfd;
}

.row {
  display: flex;
  display: -ms-flex;
	display: -webkit-flex;
  margin-bottom: 2px;
  align-items: stretch;
}

.align-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.mile-marker {
  text-align: right;
  background-color: #CCDBDC;
  align-self: stretch;
}

.to-next-point {
  text-align: left;
  background-color: #CCDBDC;
  align-self: stretch;
}

.stop-name {
  background-color: #93B7BE;
}

ul li {
  list-style: none;
  padding-right: 10px;
}

.icon-hostel {
  background: url('hostel-icon.png');
  height: 16px;
  width: 16px;
  display: inline-block;
  background-size: 100%;
  position: relative;
  bottom: -3px;
}

.icon-coin-laundry {
  background: url('laundry-icon.png');
  height: 16px;
  width: 16px;
  display: block;
  background-size: 100%;
  position: relative;
  bottom: -3px;
}

i:hover {
  position: relative;
}

i[title]:hover:after {
  content: attr(title);
  font-family: sans-serif;
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

.switch.large .switch-paddle {
  width: 10rem;
}

.switch.large input:checked ~ .switch-paddle::after {
    left: 7.9rem;
}
